{% extends "base.twig" %}

{% block content %}
	
	<section class="main view-word">
		
		<header class="word-small-header">
			<h1>{{ word }}</h1>
			<h5>{{ trans('appears <strong>%total_occurences%</strong> times in <strong>%total_songs%</strong> song(s)', {'%total_occurences': total_occurences, '%total_songs%': songs|length }) }}</h5>
		</header>

		<section>

			<div class="song-list">
				<h3 class="big-only">{{ trans('Songs with the word <strong>%word%</strong>:', {'%word%': word}) }}</h3>
				<ul>
					{% for song in songs %}
					<li>
						<a href="{{ word|lower }}#song{{ song.id_song }}">
						{{ song.title }}
						<small>{{ song.occurences }}</small></a>
					</li>
					{% endfor %}
				</ul>
			</div>

			<section class="song-contents">

				<h1 class="big-only">{{ word }}</h1>
				<h5 class="big-only">{{ trans('appears <strong>%total_occurences%</strong> times in <strong>%total_songs%</strong> song(s)', {'%total_occurences': total_occurences, '%total_songs%': songs|length }) }}</h5>

				{% if (app.config.feature_show_pos and songs[0].posCode) or (app.config.feature_show_related and relateds) %}
				<aside class="grammar">
					{% if app.config.feature_show_pos and songs[0].posCode %}
					<h6 class="pos"><strong>{{ trans('Type of word:') }}</strong> {{ songs[0].posCode }}</h6>
					{% endif %}

					{% if app.config.feature_show_related and relateds %}
					<nav class="related">
						<strong>{{ trans('Related words:') }}</strong>
						{% for related in relateds %}
							{% if loop.length > 8 and loop.index == 8 %}<span id="more">, {% endif %}
							<a href="{{ route('word', {'word': related}) }}">{{ related }}</a>
							{%- if not loop.last and loop.index != 7 %}, {% endif %}
						{% endfor %}
						
						{% if relateds|length > 8 %}
						</span><a href="javascript:void(0)" onclick="document.getElementById('more').style.display='inline'; this.style.display='none';" class="show-more">(more)</a>
						{% endif %}
					</nav>
					{% endif %}
				</aside>
				{% endif %}

				{% for song in songs %}
				<article class="song {{ app.locale }}">
					<a name="song{{ song.id_song }}"></a>
					<span class="page">{{ song.page }}</span>
					<header>
						<h3>{{ song.title }}</h3>
						<h4>{{ song.subtitle }}</h4>
					</header>
					<div class="lyrics">{{ song.text|raw|nl2br }}</div>
				</article>
				{% endfor %}

			</section>
		</section>
	</section>

{% endblock %}