<!doctype html>
<html lang="{{ app.locale }}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{% if pageTitle is defined %}{{ pageTitle }} | {% endif %}{% trans %}Lexicon of the He Rose From Death{% endtrans %}</title>
	{% if not app.debug %}<link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">{% endif %}
	<link rel="stylesheet" href="{{ global.request.basepath }}/style.css" type="text/css" />
	
	<meta name="description" content="{% trans %}Lexical concordance of the songbook of the Neocatechumenal Way. Very useful for choosing songs that fit a liturgical celebration.{% endtrans %}" />

	{# add analytics and OG tags here, and meta tag translation for home, list, etc. #}

</head>

<body class="{{ bodyClass|default() }}">

	<div class="wrapper">

		<header class="main-header">
			<div class="inside">
				
				<h2><a href="{{ path('home') }}">{% trans %}Lexicon <strong>He Rose</strong>{% endtrans %}</a></h2>

				<nav class="language">
					<a href="{{ path('home', {'_locale': app.locale == 'es' ? 'en' : 'es'}) }}">{% if app.locale == 'es' %}<span class="tiny-invisible">View in </span>English{% else %}<span class="tiny-invisible">Ver en </span>español{% endif %}</a>
				</nav>
			</div>

		</header>

{% block content %}{% endblock %}

		<div class="push"></div>
	</div>

{% if not noFooter is defined %}
	<footer class="main-footer">
		{% trans with { '%url%': 'http://github.com/isra00/resucilex' } %}Free software <a href="%url%">crafted</a> in Tanzania.{% endtrans %}
		<a href="javascript:void(0)" onclick="go()">{% trans %}Contact the author{% endtrans %}</a>.
	</footer>
{% endif %}

	<script>
	function go() {
		var s="el señor es mi pastor, nada me falta. En prados de fresca hierba...",
		 p=[14,4,8,17],p2=[13,25,14,34,37,56,46,29],n=parseInt(1-1);
		function join(ps){var r="";for(i in ps){r += s.substr(ps[i]-1,1);}return r;}
		alert(join(p)+n+n+String.fromCharCode(Math.pow(2,6))+'g'+join(p2));
	}
	</script>

</body>
</html>